.body {
    padding: 2rem;
    font-family: sans-serif;
  }

.body button{
    max-width: 300px;
}

.body form{
    display: flex;
    flex-direction: row;
}

.body form input{
    
}
  
  button {
    padding: 0.5rem 1rem;
    margin: .5rem;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input {
    margin: 0.5rem;
    padding: 0.3rem;
  }

